<div class="container-fluid">
  <div class="main-title">
      <h1>Lost your password?</h1>
  </div>
  <div class="log-frm">
    <form>
      <div class="form-group">
        <label for="" class="small-lbl">Your e-mail or username</label>
        <input type="email" class="form-control small" placeholder="Email or Username">
      </div>
      <div class="frm-btn-wrap">
      	<button type="submit" class="com-btn">Reset Password</button>
        <div class="link"><a [routerLink]="['/signin']">Cancel</a></div>
      </div>
    </form>
  </div>
</div>
