<div class="container-fluid">
    <div class="main-title">
          <h1>Active Track </h1>
      </div>
      <div class="width-840">
          <div class="prod-wrap">
              <div class="suugest">
                  <p>Would you like see a copper colored shirt that goes well with your blue suit?</p>
                  <div class="act">
                      <a href="#">See It</a>
                      <a href="#">No</a>
                  </div>
              </div>
              <div class="prod-list">
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate1.png" alt="" /></div>
                      <h2 class="prod-name">Suit</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate2.png" alt="" /></div>
                      <h2 class="prod-name">Sports Jacket</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate3.png" alt="" /></div>
                      <h2 class="prod-name">Dress Shirt</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate4.png" alt="" /></div>
                      <h2 class="prod-name">Trousers</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate5.png" alt="" /></div>
                      <h2 class="prod-name">Casual Pants</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate4.png" alt="" /></div>
                      <h2 class="prod-name">Jeans</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate7.png" alt="" /></div>
                      <h2 class="prod-name">Casual Shirt</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate8.png" alt="" /></div>
                      <h2 class="prod-name">Accessories</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
                  <div class="prod-block">
                      <div class="prod-img"><img src="assets/images/cate9.png" alt="" /></div>
                      <h2 class="prod-name">Neckwear</h2>
                      <a href="category.html" class="prod-link">Take a Look</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
